lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
.env
.idea/*
node_modules/*
uploads/*
bower_components/*

build/*
!build/placeholder.txt

config/steam/*
npm-debug.log
dump.rdb

dev-notes.txt

.DS_Store

jre_eps.json
